<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="http://localhost:2000/take/WD/7ITA2/">Take</a>
    <br>
    <a href="http://localhost:2000/view/">View</a>
    <br>
    <a href="http://localhost:2000/modify/">Modify</a>
    <form action="http://localhost:2000/take/WD/7ITA2/" method="POST">
        <input type="submit" value="Post take">
    </form>
    <form action="http://localhost:2000/view/" method="POST">
        <input type="submit" value="Post view">
    </form>
    <form action="http://localhost:2000/modify/" method="POST">
        <input type="submit" value="Post modify">
    </form>
</body>
</html>
