<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify</title>
</head>
<body>
    <table>
        <tr>
            <td>Modify API</td>
            <td><%= data.modify_api %></td>
        </tr>
        <tr>
            <td>Method</td>
            <td><%= data.method %></td>
        </tr>
        <tr>
            <td>Port</td>
            <td><%= data.port %></td>
        </tr>
        <tr>
            <td>Returns</td>
            <td><%= data.returns %></td>
        </tr>
    </table>
</body>
</html>